<% @projects.each do |project| %>

  <%= link_to design_path(project) do %>
    <div class= "thumb">
      <%= image_tag("#{project.thumb}") %>
      <h2><%= project.title %></h2>
      <p><%= project.description %></p>
    </div>
  <% end %>

<% end %>
