<% @apps.each do |app| %>

  <%= link_to app.path do %>
    <div class="app-thumb">
      <%= image_tag("#{app.thumb}") %>
      <h2><%= app.title %></h2>
      <p><%= app.description %></p>
    </div>
  <% end %>

<% end %>
