

<div class="app-container">
  <h2 class="app-title"> Toasty Pixel Painter</h2>
  <br />

  <input type="text" id="size" placeholder="Enter canvas size" />
  <button id="generate-canvas">Generate Canvas</button>
  <br />

  <p>Select a color:</p>
  <div class="color-container">
    <div class="color" id="#000000"></div>
    <div class="color" id="#666666"></div>
    <div class="color" id="#DDDDDD"></div>
    <div class="color" id="#663300"></div>
    <div class="color" id="#ffd633"></div>
    <div class="color" id="#FF9933"></div>
    <div class="color" id="#FF0000"></div>
    <div class="color" id="#6600FF"></div>
    <div class="color" id="#0000FF"></div>
    <div class="color" id="#00CC00"></div>
  </div>
  <div class="color-container">
    <div class="color" id="#333333"></div>
    <div class="color" id="#999999"></div>
    <div class="color" id="#FFFFFF"></div>
    <div class="color" id="#CC6600"></div>
    <div class="color" id="#FFFF66"></div>
    <div class="color" id="#FFCC99"></div>
    <div class="color" id="#FF6666"></div>
    <div class="color" id="#a366ff"></div>
    <div class="color" id="#6666FF"></div>
    <div class="color" id="#33FF33"></div>
  </div>
  <br />

  <button id="fill">Fill canvas with current color</button>
  <button id="toggle-grid">Grid On/Off</button>
  <br />
  <div id="canvas-container"></div>
</div>
