<div id="sidebar" data-turbolinks-permanent>
  <ul>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'apps', apps_path, id: "main-tab" %></h2>
      </div>
      <div id='apps-description' class='tab-description'>
        <p>
          as a new programmer toasty has been flexing his creative muscles in an entirely new dimension. here are a few apps toasty has developed using a few of his favorite languages.
        </p>
      </div>
    </li>
    <li>
      <div class= 'tab-title'>
        <h2><%= link_to 'design', designs_path, id: "design-tab" %></h2>
      </div>
      <div id='design-description' class='tab-description'>
        <p>
          toasty began his journey into tech through the medium of graphic design. collected here are some of his projects and pieces which include logo work, UI and UX design, as well as traditional print media.
        </p>
      </div>
    </li>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'fashion', fashion_path, id: "fashion-tab" %></h2>
      </div>
      <div id='fashion-description' class='tab-description'>
        <p>
          toasty also happens to be a big fan of fashion and style trends, and in his free time occassionally struts his stuff on the runway or in the streets. here are a few select shots from his modeling portfolio.
        </p>
      </div>
    </li>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'about', about_path, id: "about-tab" %></h2>
      </div>
    </li>
  </ul>
</div>
