<div id="sidebar" data-turbolinks-permanent>
  <ul>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'apps', apps_path, id: "main-tab" %></h2>
      </div>
      <div id='apps-description' class='tab-description'>
        <p>toasty began his journey into tech through the medium of graphic design. collected here are some of his projects and pieces which include logo work, UI and UX design, as well as traditional print media.</p>
      </div>
    </li>
    <li>
      <div class= 'tab-title'>
        <h2><%= link_to 'design', designs_path, id: "design-tab" %></h2>
      </div>
      <div id='design-description' class='tab-description'>
        <p>toasty began his journey into tech through the medium of graphic design. collected here are some of his projects and pieces which include logo work, UI and UX design, as well as traditional print media.</p>
      </div>
    </li>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'fashion', "/", id: "fashion-tab" %></h2>
      </div>
      <div id='fashion-description' class='tab-description'>
        <p>toasty began his journey into tech through the medium of graphic design. collected here are some of his projects and pieces which include logo work, UI and UX design, as well as traditional print media.</p>
      </div>
    </li>
    <li>
      <div class='tab-title'>
        <h2><%= link_to 'contact', "/", id: "contact-tab" %></h2>
      </div>
    </li>
  </ul>
</div>
